<?xml version="1.0" encoding="utf-8" ?>

<configuration>

  <appSettings>
    <add key="pathToCommands" value="./App_Data/command_parse/TelnetSwitchCommands.xml" />
    <add key="pathToLabs" value="./Labs" />
    <add key="pathToTasks" value="./App_Data/labs_tasks/" />
    <add key="connectionTimeOut" value="10" />
    <add key="errorTimeOut" value="15" />
  </appSettings>

</configuration>